#principal{
	width:400px;
    margin:0 auto;
    margin-top:10%;
}


#test{
	width:800px;
	margin:0 auto;
}



/* Style des boutons */
input[type=submit] {
    background-color: #207BEF;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#adr{
	margin-top: 20px;
}


#tel{
	width: 20%;
	padding: 5px;
}
